.home-main {
    background-color: var(--bg-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-main header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.home-main form {
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-wrapper header {
    font-size: 3.5rem;
    color: var(--efc-yellow);
    text-align: center;
}

.form-wrapper button {
    width: 100%;
    background-color: var(--efc-yellow);
    height: 2.5rem;
    color: white;
    cursor: pointer;
}