.reg {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}

.reg form {
    align-self: center;
}

.page {
    padding: 3.5rem;
    font-size: 2rem !important;
}

.reg p,
.p {
    color: var(--efc-yellow);
    font-size: medium;
}